# Sets

In [8]:
set1 = set()

##  add an element using set.add(value)

In [9]:
set1.add(21)
set1.add('stoic')
set1.add(True)

In [10]:
set1

{21, True, 'stoic'}

## remove an element using set.remove(value)

In [11]:
set1.remove(21)

In [12]:
set1

{True, 'stoic'}

In [13]:
#it will throw error if the element is not present in the set

In [14]:
set1.remove(33)

KeyError: 33

## remove an element using set.discard(value)

In [15]:
#no error thrown error if the element is not present in the set

In [16]:
set1.discard(33)

In [17]:
set1

{True, 'stoic'}

## removes any random element from the set and returns the removed element - set.pop()

In [18]:
set1.pop()

True

In [19]:
set1

{'stoic'}

## removing all elements using set.clear()

In [20]:
set2 = set(['messi', 10, 'argentina', 673, 'stoic'])

In [21]:
set2

{10, 673, 'argentina', 'messi', 'stoic'}

In [22]:
set2.clear()

In [23]:
set2

set()

## Union and Intersection

In [24]:
even = set([x for x in range(1,10) if x % 2 == 0])
odd = set([x for x in range(1,10) if x % 2 == 1])

In [25]:
even.union(odd)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
even.intersection(odd)

set()

# Lists

## add an element at the end using list.append(value)

In [27]:
list1 = [1,2,3]

In [28]:
list1.append(4)

In [65]:
list1

['a', 2, 3]

## Slicing - list[start : end : step]  return a sublist from start(inclusive) to end(not inclusive)

In [30]:
list1[:]

[1, 2, 3, 4]

In [31]:
list1[1:3]

[2, 3]

In [32]:
list1[-1::-1] #reverse a list using slicing

[4, 3, 2, 1]

In [33]:
list1[2:15] #list slicing allows out-of-bound indexing without raising errors

[3, 4]

## Some important inbuilt list functions

### insert(index, item): Inserts an item at the specified index.

In [34]:
list1.insert(1, 'a')

In [35]:
list1

[1, 'a', 2, 3, 4]

### remove(item): Removes the first occurrence of the specified item

In [36]:
list1.remove(1)

In [37]:
list1

['a', 2, 3, 4]

### pop([index]): Removes and returns the item at the specified index. If no index is specified, it removes and returns the last item.

In [38]:
list1.pop(3) #popped element at index 3

4

In [39]:
list1

['a', 2, 3]

## list.sort() vs sorted(list)

### sort() 
- only works on list
- return none
- modifies the original list
- Arguments:
    - key: A function that specifies the criteria for sorting.
    - reverse: A boolean to sort in descending order (True) or ascending order (False, default).
- Syntax:
    - list.sort(key=function)

In [45]:
numbers = [4, 1, 3, 2]
numbers.sort()  # The list is modified directly.
print(numbers)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

### sorted()
- built in function
- works on any iterable
- returns a list with sorted elements
- does not modify the original list
- Arguments:
    - key: A function that specifies the criteria for sorting. (Very Useful)
    - reverse: A boolean to sort in descending order (True) or ascending order (False, default).
- Syntax:
    - sorted(iterable, key=function)

### Use cases

#### 1.Sort strings ignoring the case.

In [48]:
names = ["messi", "Ronaldo", "Pele", "Neymar", "yamal"]
sorted_names = sorted(names, key=str.lower)
print(sorted_names)

['messi', 'Neymar', 'Pele', 'Ronaldo', 'yamal']

#### 2.Sort strings by their length

In [50]:
names = ["messi", "Ronaldo", "Pele", "Neymar", "yamal"]
sorted_names = sorted(names, key=len)
print(sorted_names)

['Pele', 'messi', 'yamal', 'Neymar', 'Ronaldo']

#### 3.Sorting with a Custom Function

In [51]:
def last_char(s):
    return s[-1]

words = ["messi", "Ronaldo", "Pele", "Neymar", "yamal"]
sorted_words = sorted(words, key=last_char)
print(sorted_words)

['Pele', 'messi', 'yamal', 'Ronaldo', 'Neymar']

#### 4.Sort a list of tuples based on a specific element in each tuple

In [57]:
data = [(19, 'Yamal'), (10, 'Messi'), (7, 'Ronaldo'), (11, 'Neymar')]
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)

[(7, 'Ronaldo'), (10, 'Messi'), (11, 'Neymar'), (19, 'Yamal')]

#### Note: Lambda expression - nameless functions
- Syntax
    - lambda arguments: expression
        - lambda: The keyword used to define the function.
        - arguments: Comma-separated arguments passed to the lambda.
        - expression: A single expression that is evaluated and returned.

In [58]:
#simple example
double = lambda x: x * 2
print(double(5))

10

#### Use Cases of Lambda Expression

In [64]:
# 1. With map()
# Apply a function to each item in an iterable.

numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(f"Squared = {squared}")

# 2. With filter()
# Filter elements in an iterable based on a condition.

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(f"Filtered = {even_numbers}") 

# 3. With sorted()
# Sort elements using a custom key.

names = ["Xi", "Rocky", "Charlie", "Tomy", "Mammooty"]
sorted_names = sorted(names, key=lambda x: len(x))
print(f"Sorted = {sorted_names}")

Squared = [1, 4, 9, 16]
Filtered = [2, 4, 6]
Sorted = ['Xi', 'Tomy', 'Rocky', 'Charlie', 'Mammooty']

## List Comprehensions

### Syntax
- [expression $for$ item in iterable $if$ condition]

In [68]:
#example 1- with a condition
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [69]:
#example 2 - Applying a Function 
words = ["hello", "world"]
uppercase = [word.upper() for word in words]
print(uppercase)

['HELLO', 'WORLD']

In [72]:
#example 3 - Filtering strings
words = ["messi", "neymar", "ronaldo", "pele", "yamal"]
filtered = [word for word in words if 'a' in word]
print(filtered)

['neymar', 'ronaldo', 'yamal']

# Dictionary
   - stores data as key-value pairs
   - unordered, mutable, and iterable collection

## Syntax
- dictionary = {key1: value1, key2: value2, ...}

## Two ways to intialize a dictionary

In [87]:
dict1 = {'name' : 'Messi', 'number' : 10}
dict1

{'name': 'Messi', 'number': 10}

In [88]:
dict2 = dict(name = 'Ronaldo', number = 7)
dict2

{'name': 'Ronaldo', 'number': 7}

##  Accessing Values

In [96]:
dict1['name']

'Messi'

In [98]:
dict1['club'] #throws error if key is not in the dict

KeyError: 'club'

In [100]:
dict1.get('name')

'Messi'

In [109]:
club = dict1.get('club', None) #Avoid errors if the key does not exist. 
                               #If key doesn't exits, we can set it to some default value like None
print(club)                    #Dictionary is not modified

None

In [108]:
dict1

{'name': 'Messi', 'number': 10, 'country': 'argentina'}

## Adding/Updating Key-Value Pairs

In [110]:
dict1['country'] = 'argentina'
dict1

{'name': 'Messi', 'number': 10, 'country': 'argentina'}

In [118]:
#updating name
dict1['name'] = "Lionel Messi"

In [119]:
dict1

{'name': 'Lionel Messi', 'number': 10, 'country': 'argentina'}

### updating using dict.update()

In [120]:
dict1.update({'name':'Lionel Andre Messi'})

In [121]:
dict1

{'name': 'Lionel Andre Messi', 'number': 10, 'country': 'argentina'}

## Removing Key-Value Pairs

### dict.pop('key'): Removes a key and returns its value.
### del dict['key'] : Deletes a key-value pair.

In [123]:
dict1.pop("country")  
del dict1["number"]

In [124]:
dict1

{'name': 'Lionel Andre Messi'}

## Iterating Over Keys

In [127]:
person = {"name": "Alice", "age": 25, "city": "New York"}

In [128]:
for key in person.keys():
    print(key)

name
age
city

## Iterating Over Values

In [129]:
for value in person.values():
    print(value)

Alice
25
New York

## Iterating Over Key-Value Pairs

In [130]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25
city: New York

# Tuples
   - ordered
   - immutable
   - takes less memory compared to lists
   - Elements can be accessed using their index
   - Slicing can be performed

In [131]:
tuple1 = ()

In [133]:
ex_1 = ('a') 
ex_2 = ('a',)

In [137]:
ex_1  #this is a string. To make it a tuple when ony one element is there, we have to add a comma 
                         # at the end

'a'

In [138]:
ex_2  #this is a tuple.

('a',)

In [141]:
tuple1 = 1, 2, 3 #another way to create tuples
                 #paranthesis is not used

In [142]:
tuple1

(1, 2, 3)

In [143]:
jerseyNum = (10, 7, 11) #packing
messi , cristiano, neymar = jerseyNum #unpacking

In [145]:
print(f"Jersey number of Messi is {messi}")
print(f"Jersey number of Cristiano is {cristiano}")
print(f"Jersey number of Neymar is {neymar}")

Jersey number of Messi is 10
Jersey number of Cristiano is 7
Jersey number of Neymar is 11

## Important use cases of Tuples

#### Returning Multiple Values from Functions

In [147]:
def get_min_max(numbers):
    return min(numbers), max(numbers)

result = get_min_max([1, 2, 3, 4])
print(result)

(1, 4)

#### Used as keys in dictionaries since they are hashable

In [149]:
my_dict = {("x", "y"): 10}
print(my_dict[("x", "y")])

10